doctype html
html
    head 
        meta(charset='UTF-8')
        //- meta(http-equiv='Content-Security-Policy' content='default-src *; style-src "self" "unsafe-inline"; script-src "self" "unsafe-inline" "unsafe-eval" http://www.google.com')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
        title Natours | Adventure for people 
    body
    // HEADER
    include _header
    // CONTENT
    block content 
        h1 This is a placeholder heading


    // FOOTER
    include _footer


